/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2 {
    font-family: 'Georgia', serif;
    color: #333;
}

/* Hero Section */
#hero {
    height: 100vh;
    background-image: url('https://static.tengrinews.kz/userdata/news/2024/news_556727/thumb_b/photo_496044.png.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.5rem;
}

/* Menu Cards */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.col-md-4 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    background-color: #f8f9fa;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

/* Отзывы */
.carousel-inner {
    text-align: center;
}

.carousel-item {
    font-size: 1.2rem;
    font-style: italic;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #343a40;
}

/* Модальное окно */
.modal-content {
    padding: 20px;
}

/* Респонсив */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1.2rem;
    }
}


.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	z-index: 0;
	background: radial-gradient(
		circle,
		rgb(126, 223, 255) 0%,
		rgba(71, 196, 255, 1) 68%,
		rgba(0, 110, 239, 1) 100%
	);
}

.loader-icon-1 {
	font-size: 80px;
	color: rgb(200, 241, 255, 0.8);
	text-shadow: 1px 1px 1px rgba(71, 196, 255, 1), -1px -1px 1px white;
	animation: snow-loader 0.5s 9 linear alternate-reverse forwards,
		snow-loader-zoom 5s forwards;
	animation-delay: 0s, 4.5s;
}

@keyframes snow-loader {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(90deg);
	}
}

@keyframes snow-loader-zoom {
	from {
		transform: scale(1, 1) rotateZ(0deg);
		color: rgb(200, 241, 255, 0.8);
	}

	to {
		color: #123;
		transform: scale(200, 200) rotateZ(360deg);
	}
}

.loader-text {
	font-size: 25px;
	color: rgb(200, 241, 255);
}

.main {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#123, #111);
	opacity: 0;
	animation: main-loadup 1s forwards linear, main-loadup-bg 10s forwards linear;
	animation-delay: 7s, 8s;
}

@keyframes main-loadup {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes main-loadup-bg {
	from {
		background-size: 100% 100%;
		background-position: 0% 0%;
	}

	to {
		background-size: 400% 400%;
		background-position: 0% 100%;
	}
}

.initial-snow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.initial-snow > * {
	font-size: 50px;
	color: white;
	position: absolute;
	top: -5vh;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}

	100% {
		transform: translate3d(var(--left-end), 110vh, 0);
	}
}

/* <!-- СНЕГ СКАЧАЛ ОТСЮДА https://codepen.io/codeconvey/pen/xRzQay -->> */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;
}